{% extends 'base.html' %}
{% load staticfiles %}

{#{% block title %}#}
{#Find The Job You Love | FindTheCo#}
{#{% endblock %}#}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing2.css' %}">
{% endblock %}

{% block content %}

<div id="bg">
    <img src="{% static 'img/startup_office_blur.jpg' %}" height="800" width="auto" alt="startup office photo">
</div>

<div class="container landing-content">
    <div class="row row-main-copy">
        <div class="col-xs-12 col-sm-9 main-copy">
            <h1 class="main-copy-text">Find the job that loves you back</h1>
        </div>
    </div>
    <div class="row row-support-copy">
        <div class="col-xs-12 col-sm-6 support-copy">
{#            <p>Don't spend hours at a company whose values you don't align with. With a quick survey, you'll be able to have a list of companies that you will be guaranteed to be happy with.</p>#}
            <p>FindTheCo introduces you jobs with promising companies whose values you believe in. </p>
            <br>
            <ul class="list" id="image">
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Take a fun and engaging survey to learn about yourself
                </li>
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Only see the companies that are a real fit and have openings for your role
                </li>
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Easy direct connection to your future employers.
                </li>
            </ul>
{#            <p>Come take a new step with us.</p>#}
        </div>
    </div>
    <div class="row e-mail-form-total">
        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 email-form-wrapper">
            <form role="form email-form-group">
                <div class="form-group">
                    <input type="text" class="form-control email-form" placeholder="E-mail">
                </div>
            </form>
        </div>
        <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1 submit-btn-wrapper">
            <button type="submit" class="btn btn-default submit-btn">Find A Job</button>
        </div>
    </div>
</div>

{% endblock %}