/****************************
        Variables
****************************/
@font-face {
    font-family: 'Intro Inline';
    src: url("fonts/Intro%20Inline.otf");
}

/****************************
        Navigation
****************************/

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
    font-family: "Intro Inline";
}

.navbar-brand {
    color: white !important;
    font-size: 2.5rem;
    padding-left: 20px;
}

.container-nav {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}
