#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: .8;
}

/****************************
           Copy
****************************/

.landing-content {
    padding: 2rem;
}

.main-copy {
    font-family: Avenir, helvetica, sans-serif;
    margin: 7.5rem 0 2rem;
    color: #fff;
}

.main-copy-text {
    font-size: 6rem;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #000;
}

.support-copy {
    font-weight: lighter;
    font-family: helvetica, sans-serif;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 1.75rem;
    letter-spacing: .1rem;
    text-shadow: 1px 1px 2px #000;
}

.list {
    list-style: none;
    line-height: 2em;
    font-weight: bolder;
    font-size: 1.25rem;
    padding-left: 0;
}

@media screen and (max-width: 480px) {
    .main-copy-text {
        font-size: 3rem;
        text-align: center;
    }
}


/****************************
           Form
****************************/

.email-form {
    border-radius: 5px;
}

.email-form-wrapper {
    padding-right: 5px;
    max-width: 300px;
}

.submit-btn-wrapper {
    padding: 0;
}

.submit-btn {
    background-color: rgb(72, 64, 211);
    color: white;
    font-weight: lighter;
}

