{% extends 'base.html' %}
{% load staticfiles %}

{#{% block title %}#}
{#Find The Job You Love | FindTheCo#}
{#{% endblock %}#}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing2.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/landing2.js' %}"></script>
{% endblock %}

{% block content %}

<div id="bg">
    <img src="{% static 'img/startup_office_blur.jpg' %}" height="800" width="auto" alt="startup office photo">
</div>

<div class="container landing-content">
    <div class="row row-main-copy">
        <div class="col-xs-12 col-sm-9 col-md-9 main-copy">
            <h1 class="main-copy-text animated bounceInDown">Find the job that loves you back</h1>
        </div>
    </div>
    <div class="row row-support-copy">
        <div class="col-xs-12 col-sm-8 col-md-7 support-copy animated fadeIn">
            <p>FindTheCo introduces you to jobs with promising companies whose values you believe in. </p>
            <br>
            <ul class="list" id="image">
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Take a fun and engaging survey to learn about yourself
                </li>
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Only see the companies that are a real fit and have openings for your role
                </li>
                <li>
                    <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Easy direct connection to your future employers
                </li>
            </ul>
        </div>
    </div>
    <div class="email-total-wrapper animated fadeIn">
        <p>We will be launching soon!<br> Sign up to to be invited for early access!</p>
        <div class="email-complete-box">
            <div class="row e-mail-form-total">
                <div class="col-xs-12 col-sm-12 email-form-wrapper">
                    <form role="form" id="email-form">
                        <div class="form-group">
                            <input type="text" class="form-control email-form" placeholder="E-mail">
                            <input type="submit" form="email-form" class="btn btn-default submit-btn" value="Invite Me">
                        </div>
                    </form>
                    <div class="thanks">
                        <p class="thanks-title">Thank You For Signing Up!</p>
                        <p class="thanks-text">An invite will be sent soon!</p>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}